<header class="header">
  <!-- Logo -->
  <div class="logo">
    <a class="tech-link" routerLink="">
      <span>⚙️</span>
    </a>
    <a class="tech-link" routerLink="/course">
      <span>DevTutorials</span>
    </a>
  </div>

  <!-- Tech Nav Icons -->
  <nav class="tech-nav">
    @for (subject of subjects; track subject.id) {
      <a class="tech-link" [routerLink]="['/course', subject.id]">
        {{ subject.name }}
      </a>
    }
    <!-- <a class="tech-link" routerLink="/course/csharp">
      <span>C#</span>
    </a>
    <a class="tech-link" routerLink="/course/asp_net_core">
      <span>ASP.NET Core</span>
    </a>
    <a class="tech-link" routerLink="/course/angular">
      <span>Angular</span>
    </a>
    <a class="tech-link" routerLink="/course/docker">
      <span>Docker</span>
    </a> -->
    <a class="tech-link" routerLink="/course/lesson/create">
      <span>Share Knowledge</span>
    </a>
  </nav>

  <!-- Auth Buttons -->
  <div class="auth-buttons">
    <a routerLink="/signin" class="auth-button">Sign In</a>
    <a routerLink="/signup" class="auth-button">Sign Up</a>
  </div>
</header>
